<div class="bottom m-t-lg m-b-lg" ng-show="diseases">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="bottom-container col-sm-12">
                    <div class="bottom-header">
                        <div class="col-sm-12">
                            <div class="col-sm-6">
                                <h3>Top Diseases</h3>
                            </div>
                            <div class="col-sm-6 pull-right">
                                <input class="form-control search-box" placeholder="Search diseases..." ng-model="search">
                            </div>


                        </div>
                    </div>

                    <div class="bottom-content">
                        <div class="col-sm-12 bottom-content-box" dir-paginate="disease in diseases | filter:search | itemsPerPage: pageSize" current-page="currentPage">
                            <div >
                                <h3 class="d-name"> {{disease.name}} </h3>

                                <h4 class="m-t-lg">Description</h4>
                                <p class="d-shortinfo">{{disease.facts}}</p>


                                <div class="row">
                                    <a ng-href="/{{disease.name}}" class="btn btn-sucess btn-more">More</a>
                                </div>
                            </div>
                        </div>
                        <dir-pagination-controls
                                max-size="7"
                                direction-links="true"
                                boundary-links="true" >
                        </dir-pagination-controls>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 bottom-right">
                <div class="listed-diseasebox">

                    <ul>
                        <li ng-repeat="disease in diseases"><a ng-href="/{{disease.name}}">{{ disease.name }}</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>