<div class="bottom m-t-lg m-b-lg" ng-show="diseases">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="bottom-container col-sm-12">
                    <div class="bottom-header">
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <h3>Diseases</h3>
                            </div>
                            <div class="col-md-offset-3 col-md-3 col-xs-12">
                                <input class="form-control search-box" placeholder="Search diseases..." ng-model="search">
                            </div>


                        </div>
                    </div>

                    <div class="bottom-content">
                        <div class="col-sm-12 bottom-content-box" dir-paginate="disease in diseases | filter:search | itemsPerPage: pageSize" current-page="currentPage">
                            <div >
                                <h3 class="d-name"> {{disease.name}} </h3>

                                <h4 class="m-t-lg">Description</h4>
                                <p class="d-shortinfo">{{disease.facts}}</p>


                                <div class="row">
                                    <a ng-href="/{{disease.name | hyphen}}" class="btn btn-sucess btn-more">More</a>
                                </div>
                            </div>
                        </div>
                        <dir-pagination-controls
                                max-size="7"
                                direction-links="true"
                                boundary-links="true" >
                        </dir-pagination-controls>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 bottom-right">
                <div class="listed-diseasebox">
                    <h3>Most Common Diseases</h3>
                    <ul>
                        <li><a ng-href="/Pneumonia%20-%20WHO">Pneumonia</a></li>
                        <li><a ng-href="/aids%20%20-%20WHO">HIV/AIDs</a></li>
                        <li><a ng-href="/Malaria%20-%20WHO">Malaria</a></li>
                        <li><a ng-href="/Tuberculosis%20-%20WHO">Tuberculosis</a></li>
                        <li><a ng-href="/Meningococcal%20meningitis%20%20-%20WHO">Meningitis</a></li>
                        <li><a ng-href="/Measles%20-%20WHO">Measles</a></li>
                    </ul>
                    <div class="row">
                        <a href="http://www.who.int/gho/countries/nga.pdf" class="btn btn-success btn-source pull-left m-l-xxl m-t-sm">Source</a>
                    </div>

                    <ul ng-repeat="disease in diseases">
                        <li><a ng-href="/{{disease.name}}">{{disease.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>