<div class="onedisease m-t-lg m-b-lg">
    <div class="container">
        <div class="row" ng-show="diseases">
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="onedisease-body col-sm-12">
                    <div class="onedisease-header">
                        <div class="col-sm-12">
                            <h3>{{ oneDisease.disease.name }}</h3>
                            <ul>
                                <li><a href="#overview">Overview</li>
                                <li><a href="#symptoms">Symptoms</li>
                                <li><a href="#treatment">Treatment</li>
                                <li><a href="#transmission">Transmission</li>
                                <li><a href="#diagnosis">Diagnosis</li>
                                <li><a href="#prevention">Prevention</li>
                            </ul>
                        </div>
                    </div>

                    <div class="onedisease-body-content">
                        <div class="col-sm-12 onedisease-body-box" ng-if="!String.isNullOrEmpty(oneDisease.disease.facts)">
                            <div>
                                <h4 class="d-name" id="overview">Overview</a></h4>

                                <p class="d-shortinfo">{{ oneDisease.disease.facts }}</p>

                            </div>
                        </div>

                        <div class="col-sm-12 onedisease-body-box" ng-if="!String.isNullOrEmpty(oneDisease.disease.symptoms)">
                            <div>
                                <h4 class="d-name" id="symptoms">Symptoms</h4>

                                <p class="d-shortinfo">{{ oneDisease.disease.symptoms }}</p>

                            </div>
                        </div>

                        <div class="col-sm-12 onedisease-body-box" ng-if="!String.isNullOrEmpty(oneDisease.disease.treatment)">
                            <div>
                                <h4 class="d-name" id="treatment">Treatment</h4>

                                <p class="d-shortinfo">{{ oneDisease.disease.treatment }}</p>

                            </div>
                        </div>

                        <div class="col-sm-12 onedisease-body-box" ng-if="!String.isNullOrEmpty(oneDisease.disease.transmission)">
                            <div>
                                <h4 class="d-name" id="transmission">Transmission</h4>

                                <p class="d-shortinfo">{{ oneDisease.disease.transmission }}</p>

                            </div>
                        </div>

                        <div class="col-sm-12 onedisease-body-box" ng-if="!String.isNullOrEmpty(oneDisease.disease.diagnosis)">
                            <div>
                                <h4 class="d-name" id="diagnosis">Diagnosis</h4>

                                <p class="d-shortinfo">{{ oneDisease.disease.diagnosis }}</p>

                            </div>
                        </div>

                        <div class="col-sm-12 onedisease-body-box" ng-if="!String.isNullOrEmpty(oneDisease.disease.prevention)">
                            <div>
                                <h4 class="d-name" id="prevention">Prevention</h4>

                                <p class="d-shortinfo">{{ oneDisease.disease.prevention }}</p>

                            </div>
                        </div>

                        <div class="col-sm-12 m-t-md m-b-md" ng-if="oneDisease.hasInfo() && !String.isNullOrEmpty(oneDisease.disease.more)">
                            <a target="_blank" href="{{ oneDisease.disease.more | source }}" class="btn btn-success btn-source">Source</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 bottom-right">
                <div class="listed-diseasebox">
                    <h3>Most Common Diseases</h3>
                    <ul>
                        <li><a ng-href="/pneumonia-who">Pneumonia</a></li>
                        <li><a ng-href="/aids-who">HIV/AIDs</a></li>
                        <li><a ng-href="/malaria-who">Malaria</a></li>
                        <li><a ng-href="/tuberculosis-who">Tuberculosis</a></li>
                        <li><a ng-href="/meningococcal-meningitis-who">Meningitis</a></li>
                        <li><a ng-href="/measles-who">Measles</a></li>
                    </ul>
                    <div class="row">
                        <a href="http://www.who.int/gho/countries/nga.pdf" class="btn btn-success btn-source pull-left m-l-xxl m-t-sm">Source</a>
                    </div>


                </div>

                <div class="listed-diseasebox">
                    <ul ng-repeat="disease in diseases">
                        <li><a ng-href="/{{disease.name.EncodeURI()}}">{{disease.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
