<!DOCTYPE html>
<html >
<head>

    <!-- FOR ANGULAR ROUTING -->
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The top diseases that kill Nigerians are diseases that can be easily prevented and also cured. Disease info is a web app for<br> Nigerians to get information on<br> diseases and how to prevent them">
    <meta name="author" content="DevCenter Square">
    <meta name="keywords" content="disease, malaria, typhoid, lassa, nigeria, diseases outbreak, lagos, nigeria, west africa,  ebola disease, disease, prevention, tuberculosis, measles">
    <title>Disease Info</title>

    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/manifest.json">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/loading-bar.min.css" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/ab67cbccfa.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="diseaseinfo">
    <header>
        <nav class="navbar navbar-default topnav">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        Disease Info
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-toggle="modal" data-target="#myModal">Why</a></li>
                    </ul>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Why</h4>
                                </div>
                                <div class="modal-body">
                                    <p>The top diseases that kill Nigerians are diseases that can be easily prevented and also cured.</p>
                                    <p>If people knew the right information on these diseases, causes of infections, and what they can be done ro prevent them, it would go a long way.</p>
                                    <p>Disease Info was built so as to make information on major diseases affecting Nigerians easily accessible.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="text-white text-center banner-text">Disease info is a web app for<br> Nigerians to get information on<br> diseases and how to prevent them</h3>
                </div>
            </div>
        </div>
    </div>

    <div ng-view>
    </div>

    <footer class="footer">
        <p>Made with <i class="fa fa-heart" aria-hidden="true"></i>  by <a href="http://devcenter.co/square" target="_blank">Devcenter-Square</a></p>
    </footer>


<script type="text/javascript" src="/assets/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/angular.min.js"></script>
<script type="text/javascript" src="/assets/js/angular.min.js.map"></script>
<script type="text/javascript" src="/assets/js/angular-animate.min.js"></script>
<script type="text/javascript" src="/assets/js/angular-animate.min.js.map"></script>
<script type="text/javascript" src="/assets/js/angular-route.min.js"></script>
<script type="text/javascript" src="/assets/js/loading-bar.min.js"></script>
<script type="text/javascript" src="/assets/js/dirPagination.js"></script>

<script type="text/javascript" src="/assets/js/controllers/mainCtrl.js"></script>

<script type="text/javascript" src="/assets/js/services/services.js"></script>

<script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>